.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 8vh;
}

/* Fade edges */
.fade-edges::before,
.fade-edges::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.fade-edges::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.fade-edges::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}

.track {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item {
  flex-shrink: 0;
  padding: 0 24px;
  background-color: #F7F7F7;
  box-shadow: 0 0 8.2px #d0d0d0;
}

.item img {
  max-height: 60px;
  object-fit: contain;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    /* EXACTLY half because items are duplicated */
    transform: translateX(-50%);
  }
}

@media (max-width: 640px) {
  .item {
    padding: 0 16px;
  }

  .item img {
    max-height: 40px;
  }

  .fade-edges::before,
  .fade-edges::after {
    width: 40px;
  }
}
